body,
html {
    margin: 0;
    background-color: var(--color-background);

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    transition-property: "background color";
    transition-timing-function: var(--ease-responsive);
    transition-duration: var(--transition-slow);
}

#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

main {
    display: flex;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-toggle-button {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}